* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: yellow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

body, html{
    margin:0;
    padding:0;
}
.video-header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#miniCamVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
    filter: brightness(90%);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: yellow;
    z-index: 2;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-style: italic;
    font-weight: bold;
}

.description-section {
    padding: 4rem 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.column {
    flex: 1;
    min-width: 300px;
}

.image-column img{
    width: 100%;
    height: auto;
}

.text-column {
    font-size: 35px;
}