* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f6d13a;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
}

body, html{
    margin:0;
    padding:0;
}
.video-header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#miniCamVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
    filter: brightness(85%);
}

.overlay {
    justify-content: center;
    display: flex;
    text-align: center;    
}
.overlay #title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the text */
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
}
.description-section {
    padding: 4rem 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-bottom: 300px;
}

.column {
    flex: 1;
    min-width: 300px;
}

.image-column img{
    width: 50%;
    height: auto;
    float: right;
    padding-right: 35px;
}

.text-column {
    font-size: 35px;
}

.james-vid #james_vid {
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
}