body, html{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* topnav */
.topnav-container {
    width: 100%;
    margin: 0 auto;
}
.topnav {
    width: 100%;
    overflow: hidden;
}
/* topnav links*/
.topnav a {
    float:left;
    padding: 14px;
    color: #e5bc11;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    width: 30%;
} 

/* Header Section */
.header {
    height: 100vh;
    overflow: hidden;
    background-image: url(index_img/beach_sunset.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Add some content at the bottom of the video/page */
.header-content {
    position: relative;
    color: white;
    top: 50%;
    font-style: italic;
    font-size: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);;
}

.section {
    background-color: white;
    height: 100%;
    width: 100%;
    background-size: cover;
}
.section-header {
    font-size: 100px;
    text-align: center;
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; 
    }
}